*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: silver;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header { 
    background-color: blue;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    list-style: none;
} 

h1{
    font-size: 36px;
    font-family: 'Black Ops One', cursive;
    font-weight: normal;
    padding: 24px;
}


ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-size: 24px;
}

header li{
    padding: 16px;
}

li a{
    text-decoration: none;
    color: #ECF0F1;
    font-family: 'Black Ops One', cursive;
}

main{
    display: flex;
    justify-content: space-around;
    padding: 24px;
    width: 90%;
}

.sobre h2{
    margin-bottom: 16px;
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
    font-weight: normal;
    border-bottom: 1px solid;
}

main img{
    max-width: 640px;
    margin-left: 250px;
}

.sobre{
    padding-right: 36px;
    padding-left: 36px;
}

main p{
    font-size: 16px;
    font-style: italic;
    margin-top: 24px;
}


section{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
    
    padding: 16px;
    margin-left: 50px;
}

section img{
    max-width: 400px;
    width: 100%;
}

button{
    max-width: 300px;
    width: 100%;
    background-color: blue;
    color: silver;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    
}

h2{
    font-size: 32px;
    font-family: 'Black Ops One', cursive;
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid;
    
}

section h3{
    font-size: 20px;
    padding: 8px;
    margin-left: 30px;
}

section p{
    font-weight: bold;
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 8px;
    font-style: italic;
}

.direitos-reservados{
    padding: 24px 24px;
    margin-top: 24px;
    background-color: blue;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}



@media screen and (max-width: 767px) {

    .container{
        align-items: center;
        display: block;
        max-width: 100%;
    }

    header{
        background-color: blue;
        display: block;
        list-style: none;
    }

    h1{
        text-align: center;
    }

    main{
        max-width: 100%;
        display: block;
        padding: 24px 0;
    }

    main h2{
        padding: 16px;
        font-style: italic;
        color: blue;
        border-bottom: 1px solid blue;
        align-items: center;
        margin-left: 36px;
    }

    main img{
        margin-left: 16px;
        max-width: 100%;
        display: block;    
    }

    main p{
        align-items: center;
        margin-left: 36px;
    }

    section{
        display:block;
        align-items: center;
        margin-left: 0;
    }    
        
    section img{
        padding-top: 36px;
        padding-left: 16px;
        max-width: 100%;
    }

    h3{
        margin: 16px;
    }

    section p{
        margin-left: 16px;
        padding-top: 8px;
        text-align: center;
    }

    button{ 
        max-width: 300px;
        width: 100%;
        background-color: blue;
        color: silver;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        margin-left: 30px;
    }

}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container{
        align-items: center;
        display: block;
        max-width: 100%;
    }

    header{
        background-color: blue;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    main{
        max-width: 100%;
        display: block;
        padding: 24px 0;
    }

    main img{
        max-width: 100%;
        width: 100%;
        display: block;  
        margin-left: 50px;
    }

    main h2{
        padding: 16px;
        font-style: italic;
        color: blue;
        border-bottom: 1px solid blue;
        margin-left: 50px;
    }

    main p{
        text-align: center;
        margin-left: 50px;
    } 

    section{
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 1%;
    }
        
    } 
    
    section img{
        width: 100%;
        margin-left: 1px;
    }    

    section p{
        margin-left: 16px;
        padding-top: 8px;
        text-align: center;
    }

    section h3{
        text-align: center;
    }

    button{ 
    padding: 8px;
    margin-bottom: 8px;
    margin-left: 24px;
    align-items: center;
    }

